<header class="header">
  <a href="/">
    <img class="logo" src="/logo.png" alt="Muze" />
  </a>

  <nav class="nav" aria-label="Primary">
    <ul>
      <li><a class="link" href="/">Discover</a></li>
      <li><a class="link" href="#">Search</a></li>
      <li><a class="link" href="#">Library</a></li>
      <li><a class="link" href="#">About Us</a></li>
    </ul>
  </nav>

  <form class="search" role="search" (submit)="$event.preventDefault()">
    <input id="header-search" class="search__input" type="search" placeholder="Search" name="query" />
    <button class="search__button" type="submit">Find</button>
  </form>
</header>
