header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  max-width: 1600px;
  margin: 0 auto;
  padding: 16px 32px;

  position: sticky;
  top: 0;
  z-index: 10;

  background-color: var(--spotify-black);
}

@media (max-width: 900px) {
  header {
    padding: 16px 20px;
  }
}
