li {
  display: grid;
  grid-template-columns: 50px 3fr 2fr 1fr 1fr auto;
  align-items: center;
  gap: 16px;
  list-style: none;
  padding: 8px;
  border-radius: 4px;
  justify-content: space-between;
  cursor: pointer;
}

li.search-version {
  grid-template-columns: 50px 1fr auto;
}

li:hover {
  background-color: #282828;
}

li.active {
  background-color: rgba(29, 185, 84, 0.15);
}

li.active .title,
li.active .artist {
  color: var(--spotify-green);
}

.cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
}

.artist {
  width: fit-content;
  color: var(--spotify-light-gray);
}

.artist:hover {
  color: var(--spotify-white);
  text-decoration: underline;
}

.album {
  color: var(--spotify-light-gray);
}

.release-date {
  color: var(--spotify-light-gray);
}

.duration {
  color: var(--spotify-light-gray);
}

.play-btn {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--spotify-green);
  font-size: 0.8rem;
}
