<div class="search-section">
  <form (submit)="$event.preventDefault()" class="search" role="search">
    <input (input)="onInput($event)" [value]="query" class="search__input" id="header-search" name="query"
           placeholder="Search…" type="search" />
    <button class="search__button" type="submit">Find</button>
  </form>
  @if (isResultsWindowOpen()) {
    <div class="dropdown">
      @if (isLoading()) {
        <div class="dropdown__loading">Loading...</div>
      } @else {
        <ul class="dropdown__list">
          @for (track of suggestions(); track track.id) {
            <app-track-item [isSearchVersion]="true" [track]="track"></app-track-item>
          }
        </ul>
      }
    </div>
  }
</div>
